h1 {
    font-size: 20px;
    font-weight: bold !important;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

h3 a {
    color: #328039 !important;

}

body, .form-control, button {
    font-size: 13px !important;
}

.result-item {
    margin-bottom: 15px;
    cursor: pointer;
}

.result-item h3 {
    margin-bottom: 0;
}

a {
    color: #328039 !important;
}
#resultVersionPage{
    display: none;
}
.big-heading{
    font-size: 3rem !important;
}
#noSettingsVersionPage h1{
    margin-top: 10rem !important;
}
#noSettingsVersionPage a{
    text-decoration: underline;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #328039;
    border-color: #328039;
}